template.json
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "workflows_LogicDemo_name": {
            "defaultValue": "LogicDemo",
            "type": "String"
        },
        "storageAccounts_functionstorage01_name": {
            "defaultValue": "functionstorage01",
            "type": "String"
        },
        "serverfarms_demoAppPlan_name": {
            "defaultValue": "demoAppPlan",
            "type": "String"
        },
        "sites_demoFunc01_name": {
            "defaultValue": "demoFunc01",
            "type": "String"
        }
    },
    "variables": {},
    "resources": [
        {
            "comments": "Generalized from resource: '/subscriptions/595182c3-dba9-414d-9de6-ee96d331dd1d/resourceGroups/DemoRG01/providers/Microsoft.Logic/workflows/LogicDemo'.",
            "type": "Microsoft.Logic/workflows",
            "name": "[parameters('workflows_LogicDemo_name')]",
            "apiVersion": "2016-06-01",
            "location": "westeurope",
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {},
                    "triggers": {
                        "manual": {
                            "type": "Request",
                            "kind": "Http",
                            "inputs": {
                                "schema": {
                                    "properties": {
                                        "url": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "actions": {
                        "Response": {
                            "runAfter": {
                                "Switch": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Response",
                            "inputs": {
                                "body": "@{body('pictureEmotion')}@{body('OCRFunction')}@{body('OCRFunction_2')}@{body('pictureEmotion_2')}",
                                "statusCode": 200
                            }
                        },
                        "Switch": {
                            "runAfter": {
                                "checkImage": [
                                    "Succeeded"
                                ]
                            },
                            "cases": {
                                "Case": {
                                    "case": "face",
                                    "actions": {
                                        "pictureEmotion": {
                                            "runAfter": {},
                                            "type": "Function",
                                            "inputs": {
                                                "body": "@triggerBody()",
                                                "function": {
                                                    "id": "[concat(resourceId('Microsoft.Web/sites', parameters('sites_demoFunc01_name')), '/functions/pictureEmotion')]"
                                                },
                                                "method": "POST"
                                            }
                                        }
                                    }
                                },
                                "Case_2": {
                                    "case": "text",
                                    "actions": {
                                        "OCRFunction": {
                                            "runAfter": {},
                                            "type": "Function",
                                            "inputs": {
                                                "body": "@triggerBody()",
                                                "function": {
                                                    "id": "[concat(resourceId('Microsoft.Web/sites', parameters('sites_demoFunc01_name')), '/functions/OCRFunction')]"
                                                },
                                                "method": "POST"
                                            }
                                        }
                                    }
                                },
                                "Case_3": {
                                    "case": "both",
                                    "actions": {
                                        "OCRFunction_2": {
                                            "runAfter": {
                                                "pictureEmotion_2": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Function",
                                            "inputs": {
                                                "body": "@triggerBody()",
                                                "function": {
                                                    "id": "[concat(resourceId('Microsoft.Web/sites', parameters('sites_demoFunc01_name')), '/functions/OCRFunction')]"
                                                },
                                                "method": "POST"
                                            }
                                        },
                                        "pictureEmotion_2": {
                                            "runAfter": {},
                                            "type": "Function",
                                            "inputs": {
                                                "body": "@triggerBody()",
                                                "function": {
                                                    "id": "[concat(resourceId('Microsoft.Web/sites', parameters('sites_demoFunc01_name')), '/functions/pictureEmotion')]"
                                                },
                                                "method": "POST"
                                            }
                                        }
                                    }
                                }
                            },
                            "default": {
                                "actions": {}
                            },
                            "expression": "@body('checkImage')",
                            "type": "Switch"
                        },
                        "checkImage": {
                            "runAfter": {},
                            "type": "Function",
                            "inputs": {
                                "body": "@triggerBody()",
                                "function": {
                                    "id": "[concat(resourceId('Microsoft.Web/sites', parameters('sites_demoFunc01_name')), '/functions/checkImage')]"
                                },
                                "method": "POST"
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {}
            },
            "dependsOn": [
                "[resourceId('Microsoft.Web/sites', parameters('sites_demoFunc01_name'))]"
            ]
        },
        {
            "comments": "Generalized from resource: '/subscriptions/595182c3-dba9-414d-9de6-ee96d331dd1d/resourceGroups/demorg01/providers/Microsoft.Storage/storageAccounts/functionstorage01'.",
            "type": "Microsoft.Storage/storageAccounts",
            "sku": {
                "name": "Standard_LRS",
                "tier": "Standard"
            },
            "kind": "Storage",
            "name": "[parameters('storageAccounts_functionstorage01_name')]",
            "apiVersion": "2016-01-01",
            "location": "westeurope",
            "tags": {},
            "properties": {},
            "dependsOn": []
        },
        {
            "comments": "Generalized from resource: '/subscriptions/595182c3-dba9-414d-9de6-ee96d331dd1d/resourceGroups/DemoRG01/providers/Microsoft.Web/serverfarms/demoAppPlan'.",
            "type": "Microsoft.Web/serverfarms",
            "sku": {
                "name": "B1",
                "tier": "Basic",
                "size": "B1",
                "family": "B",
                "capacity": 1
            },
            "kind": "app",
            "name": "[parameters('serverfarms_demoAppPlan_name')]",
            "apiVersion": "2015-08-01",
            "location": "West Europe",
            "properties": {
                "name": "[parameters('serverfarms_demoAppPlan_name')]",
                "numberOfWorkers": 1
            },
            "dependsOn": []
        },
        {
            "comments": "Generalized from resource: '/subscriptions/595182c3-dba9-414d-9de6-ee96d331dd1d/resourceGroups/DemoRG01/providers/Microsoft.Web/sites/demoFunc01'.",
            "type": "Microsoft.Web/sites",
            "kind": "functionapp",
            "name": "[parameters('sites_demoFunc01_name')]",
            "apiVersion": "2015-08-01",
            "location": "West Europe",
            "tags": {
                "hidden-related:/subscriptions/595182c3-dba9-414d-9de6-ee96d331dd1d/resourcegroups/DemoRG01/providers/Microsoft.Web/serverfarms/demoAppPlan": "empty"
            },
            "properties": {
                "name": "[parameters('sites_demoFunc01_name')]",
                "hostNames": [
                    "demofunc01.azurewebsites.net"
                ],
                "enabledHostNames": [
                    "demofunc01.azurewebsites.net",
                    "demofunc01.scm.azurewebsites.net"
                ],
                "hostNameSslStates": [
                    {
                        "name": "[concat(parameters('sites_demoFunc01_name'),'demofunc01.azurewebsites.net')]",
                        "sslState": 0,
                        "thumbprint": null,
                        "ipBasedSslState": 0
                    },
                    {
                        "name": "[concat(parameters('sites_demoFunc01_name'),'demofunc01.scm.azurewebsites.net')]",
                        "sslState": 0,
                        "thumbprint": null,
                        "ipBasedSslState": 0
                    }
                ],
                "serverFarmId": "[resourceId('Microsoft.Web/serverfarms', parameters('serverfarms_demoAppPlan_name'))]"
            },
            "dependsOn": [
                "[resourceId('Microsoft.Web/serverfarms', parameters('serverfarms_demoAppPlan_name'))]"
            ]
        }
    ]
}